{%extends 'homebase.html'%}
{%load static%}
{%block title%}Status{%endblock%}

{%block body%}
<section class="profile-account-setting">
    <div class="container">
        <div class="account-tabs-setting">
            <div class="row">
                {%include 'userpanel.html'%}
                <div class="col-lg-9">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-status" role="tabpanel" aria-labelledby="nav-status-tab">
                            <div class="acc-setting">
                                <h3>Profile Status</h3>
                                <div class="profile-bx-details">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <div class="profile-bx-info">
                                                <div class="pro-bx">
                                                    <img src="images/pro-icon1.png" alt="">
                                                    <div class="bx-info">
                                                        <h3>$5,145</h3>
                                                        <h5>Total Income</h5>
                                                    </div><!--bx-info end-->
                                                </div><!--pro-bx end-->
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                            </div><!--profile-bx-info end-->
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <div class="profile-bx-info">
                                                <div class="pro-bx">
                                                    <img src="images/pro-icon2.png" alt="">
                                                    <div class="bx-info">
                                                        <h3>$4,745</h3>
                                                        <h5>Widthraw</h5>
                                                    </div><!--bx-info end-->
                                                </div><!--pro-bx end-->
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                            </div><!--profile-bx-info end-->
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <div class="profile-bx-info">
                                                <div class="pro-bx">
                                                    <img src="images/pro-icon3.png" alt="">
                                                    <div class="bx-info">
                                                        <h3>$1,145</h3>
                                                        <h5>Sent</h5>
                                                    </div><!--bx-info end-->
                                                </div><!--pro-bx end-->
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                            </div><!--profile-bx-info end-->
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <div class="profile-bx-info">
                                                <div class="pro-bx">
                                                    <img src="images/pro-icon4.png" alt="">
                                                    <div class="bx-info">
                                                        <h3>130</h3>
                                                        <h5>Total Projects</h5>
                                                    </div><!--bx-info end-->
                                                </div><!--pro-bx end-->
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                            </div><!--profile-bx-info end-->
                                        </div>
                                    </div>
                                </div><!--profile-bx-details end-->
                                <div class="pro-work-status">
                                    <!-- <h4>Work Status  -  Last Months Working Status</h4> -->
                                </div><!--pro-work-status end-->
                            </div><!--acc-setting end-->
                        </div>

                    </div>
                </div>
            </div>
        </div><!--account-tabs-setting end-->
    </div>
</section>
{%endblock%}