{%extends 'homebase.html'%}
{%load static%}
{%block title%}Hit The Cat{%endblock%}
{%block head%}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <style>

* {
    box-sizing: border-box;
}

.container1 *{
    outline: 0px solid black;
}

.container1{
    width: 60%;
    height: 90%;
    margin: 5vh auto auto auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(39, 60, 117,1.0);
}

/* titile */
.container1 .title{
    height: 9%;
    display: block;
    text-align: center;
    background-color: #192a56;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1 .title span{
float: center;
font-size: 2.5rem;

}

/* game container */
.game-container{
    height: 500px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:  25% 25% 25% 25%;
    grid-gap: 0rem;
}

.game-container .block{
    outline: 0.5px solid rgba(25, 42, 86,1.0);
}
.game-container .block img{
    display: none;
}

.game-container .tom img{
    display: block;
}

/* tom */
.game-container > div > img {
    width: 100%;
    height: 100%;
}

/* result conatiner */
.result-container{
    height: 11%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2.5rem;
    text-align: center;
    background-color: #192a56;
    color: #fff;
}

.result-container .score, .time-left{
    align-self: center;
    flex: 1;
}

/* controls */
.controls{
    margin-top: 1rem;
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    background-color: #27ae60;
    border: 0.5px solid #1e8d4c;
    color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#play{
    flex:2;
}

#play__text{
    margin-top: 0.55rem;
    text-align: center;
    letter-spacing: 0.125em;
    font-size: 2rem;
}

#play:hover{
    background-color: #2ecc71;
    font-weight: 600;
    cursor: pointer;
}

/* speed */
.speed{
    padding-top: 0.55rem;
    background-color: #c0392b;
    flex:1;
    text-align: center;
}

/* duraiont */
.duration{
    background-color: #c0392b  ;
    flex:1;
    text-align: center;
    cursor: pointer;
}

.duration #dur__drop{
    background-color: #c0392b  ;
    color: #FFF;
    font-size: 2rem;
    padding: 0;
    height: 100%;
    margin: 0;
    width: 60%;
    border: 0;
    -webkit-appearance: none;
    text-align: center;
    cursor: pointer;

}


/* media queries */
@media  screen and (max-width: 768px) {
.container1 .title span {
        font-size: 1.8rem; /* Adjust as needed */
    }
    /* For mobile phones: */
    [class='container1'] {
      width: 95%;
      margin: 20;
    }


    #myModal .modal-content {
        width: 80%; /* Could be more or less, depending on screen size */
        font-size: 1.5rem;
        margin: 30% auto;

        }

    .result-container .score,
    .result-container .time-left,
    .controls {
        font-size: 1.8rem; /* Adjust as needed */
    }

    .duration #dur__drop,
    .duration i {
        font-size: 1rem; /* Adjust as needed */
    }

    .speed__div.box select,
    .speed__div.box i {
        font-size: 1rem; /* Adjust as needed */
    }

    #play__text {
        font-size: 1.5rem; /* Adjust as needed */
    }
}


  /* modal */
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  /* Modal Content/Box */
.modal-content {
background-color: #1abc9c;
margin: 10% auto; /* 15% from the top and centered */
padding: 1rem;
border: 1px solid #888;
width: 30%; /* Could be more or less, depending on screen size */
font-size: 2rem;
color: white;
text-align: center;
font-weight: 600;
}

/* The Close Button */
.close {
color: #fff;
float: right;
font-size: 1em;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}


/* select menu */

 .controls .speed__div.box{
   width: 30%;
   height: 100%;
   background-color: #c0392b  ;
   cursor: pointer;
}




  .box select {
    background-color: #c0392b  ;
    color: white;
    font-size: 2rem;
    -webkit-appearance: none;
    appearance: button;
    outline: none;
    width: 70%;
    border: 0;
    cursor: pointer;
    height: 100%;
    padding-left: 1rem;

  }

  .speed__div .box i {
    background-color: #c0392b  ;
    padding: 0;
    margin: 0;
    padding-left: 0.1rem;
  }

  .box::before {
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #c0392b  ;
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }

  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }

  .box select option {
    padding: 30px;
  }
    </style>
{%endblock%}
{%block body%}
<main>
    <div class="container1">

        <div class="title"><span>Hit the Image</span></div>

        <div class="game-container">
            <div class="block" id="1"> <img src="{%static '' %}images/tom.jpg" alt=""></div>
            <div class="block" id="2"> <img src="{%static '' %}images/tom.jpg" alt=""></div>
            <div class="block" id="3"> <img src="{%static '' %}images/tom.jpg" alt=""></div>
            <div class="block" id="4"> <img src="{%static '' %}images/tom.jpg" alt=""></div>
            <div class="block" id="5"> <img src="{%static '' %}images/tom.jpg" alt=""></div>
            <div class="block" id="6"> <img src="{%static '' %}images/tom.jpg" alt=""></div>
            <div class="block" id="7"> <img src="{%static '' %}images/tom.jpg" alt=""></div>
            <div class="block" id="8"> <img src="{%static '' %}images/tom.jpg" alt=""></div>
            <div class="block" id="9"> <img src="{%static '' %}images/tom.jpg" alt=""></div>
            <div class="block" id="10"><img src="{%static '' %}images/tom.jpg" alt=""></div>
            <div class="block" id="11"><img src="{%static '' %}images/tom.jpg" alt=""></div>
            <div class="block" id="12"><img src="{%static '' %}images/tom.jpg" alt=""></div>
            <div class="block" id="13"><img src="{%static '' %}images/tom.jpg" alt=""></div>
            <div class="block" id="14"><img src="{%static '' %}images/tom.jpg" alt=""></div>
            <div class="block" id="15"><img src="{%static '' %}images/tom.jpg" alt=""></div>
            <div class="block" id="16"><img src="{%static '' %}images/tom.jpg" alt=""></div>
        </div>

        <div class="result-container">
            <div class="score">Score: <span id="score__text">0</span></div>
            <div class="time-left">Time Left: <span id="timer">--</span></div>
        </div>

        <div class="controls">
            <!-- <div class="speed">Normal</div> -->

            <div class="speed__div box" >
                    <select id="gameSpeed">
                      <option value="1000">Slow<i class='fas fa-chevron-circle-down'></i></option>
                      <option value="750">Normal</option>
                      <option value="500">Fast</option>
                    </select>
                    <i class='fas fa-chevron-circle-down'></i>
            </div>
            <div id="play"><p id="play__text">Play Game</p></div>
            <!-- <div class="duration"><input type="number" name="" id="durationFromUser" max="120" value="60"></div> -->
            <div class="duration">
                <select id="dur__drop">
                    <option value="10">10s</option>
                    <option value="30">30s</option>
                    <option value="60">60s</option>
                  </select>
                  <i class='fas fa-chevron-circle-down'></i>
            </div>
        </div>
    </div>
</main>
<form id="scoreForm" method="post" action="{% url 'mathquiz' %}">
    {% csrf_token %}
    <input type="hidden" id="score_value" name="score_value" value="0">
</form>

    <!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Time's Up. You've Scored: <b><span id='modal--score'></span></b> points</p>
    </div>

  </div>
{%endblock%}

{%block scripts%}

<script >
var score = 0;
var pointGainedOnce=0;
var gameSpeed = 750;
var timeLeft = document.querySelector('#dur__drop').value;
gameSpeed = document.querySelector('#gameSpeed').value;

    function playGame(){
    var grid = document.querySelectorAll('.block');
var hitPosition;
score = 0;
var pointGainedOnce=0;
gameSpeed = 750;

//timer
var timer__html = document.querySelector('#timer');
timeLeft = document.querySelector('#dur__drop').value;
gameSpeed = document.querySelector('#gameSpeed').value;

var timerID = setInterval(function(){
    if (timeLeft<1) {
        clearInterval(timerID);
        gameStatus="stale";
        document.querySelector('#play__text').textContent='Play Again';
        startButton.style.background='#27ae60';
        startButton.style.fontWeight='Initial';
        //modal-- game over
        modal.style.display = "block";
        document.querySelector('#modal--score').textContent=score;
        document.querySelector('#dur__drop').disabled=false;
        document.querySelector('#gameSpeed').disabled=false;
        document.querySelector('.box').style.cursor='pointer';
        document.querySelector('#gameSpeed').style.cursor='pointer';
        document.querySelector('.duration').style.cursor='pointer';
        document.querySelector('#dur__drop').style.cursor='pointer';
        console.log(score);
        score = document.querySelector('#modal--score').innerText;
        timeLeft = document.querySelector('#dur__drop').value;
        saveToDatabase();
        console.log(score);
    }

    timer__html.textContent=timeLeft;
    timeLeft--;
 }, 1000);

//game

function popTom(randomBLockNo){

    grid[randomBLockNo].classList.add("tom");
}

function removeTom(){
    grid.forEach(element => {
        element.classList.remove("tom");
    });
}

grid.forEach(element => {
    element.addEventListener('click',()=>{
        if(element.id == hitPosition+1 && timeLeft > 0 && pointGainedOnce){
            score++;
            document.querySelector('#score__text').textContent = score;
            pointGainedOnce=0;
        }
    })
});

var tomTimer = setInterval(() => {
    if (timeLeft < 1) {
        clearInterval(tomTimer)
    }
    removeTom();
    let randomBLockNo = Math.floor((Math.random())*16);
    hitPosition = randomBLockNo;
    popTom(randomBLockNo);
    pointGainedOnce=1;
}, gameSpeed);

}


var startButton = document.querySelector('#play');
var gameStatus = "stale";


startButton.addEventListener('click',()=>{
    if (gameStatus == "stale") {
        playGame();
        document.querySelector('#score__text').textContent='0';
        document.querySelector('#dur__drop').disabled=true;
        document.querySelector('#gameSpeed').disabled=true;
        document.querySelector('.box').style.cursor='auto';
        document.querySelector('#gameSpeed').style.cursor='auto';
        document.querySelector('.duration').style.cursor='auto';
        document.querySelector('#dur__drop').style.cursor='auto';
        gameStatus='Running';
        startButton.style.background='#2980b9';
        document.querySelector('#play__text').textContent='Game is ON!!';
    }

})


//modal

// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

const saveToDatabase = () => {

    const csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;

    console.log('Score:',score);
    const data={
            score:score,
            gamespeed:gameSpeed,
            timeleft:timeLeft,
        };

    fetch('/game/hitthecat', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                console.log('Game data saved successfully.');
            } else {
                console.error('Failed to save game data.');
            }
        })
        .catch(error => console.error('Error:', error));
    };
    </script>
{%endblock%}